.threshold-left{
  display: flex;
  gap: 5px;
  align-items: center;
}
.threshold-collection-counter{
  min-width: 24px;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.threshold-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.threshold-quantity{
  text-align: center;
}
.threshold-quantity input{
  width: 105px;
}
.action-wrapper{
  display: flex;
  justify-content: flex-end;
}
.threshold-box{
  margin: 15px 0;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4;
  padding: 5px 0;
}
.condition-wrapper{
  margin: 0 0 10px 0;
}
.condition-section{
  margin-bottom: 16px;
}
.hidden{
  display: none;
}
.threshold-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}
.threshold-image-holder{
  display: flex;
  align-items: center;
}
.gift-wrapper{
  margin: 16px 0;
}
.rm-threshold{
  cursor: pointer;
}
.product-selector-cta{
  margin: 16px 0 0 0;
}
.icon-wrapper{
  display: flex;
  align-items: center;
}
.icon-wrapper > span{
  display: inline-block;
  margin: auto;
}
.custom-validation-msg {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 0.5rem 0;
}
.gift-section{
  margin-bottom: 1rem;
}
.success-banner{
  padding: 16px;
  background-color: var(--p-color-bg-fill-success-hover);
  border-radius: var(--p-border-radius-400);
  margin-bottom: 16px;
}
.success-banner p {
  color: #fff;
  font-weight: 900;
}